*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body,html{
  width: 100%;
  height: 100%;

}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000e3;
  color: #ffffff;
    padding-inline: 10px;
}
.Todo-Container{
  max-width: 900px;
  width: 100%;
  /* background-color: red; */
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding:  20px;
}
.Todo-Container h1{
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 15px;
}
.Add-Todo-Item{
  width: 100%;
  display: flex;
gap: 20px;
}
.Add-Todo-Item input{
  width: 80%;
  height: 50px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #ffffff;
  padding-inline: 10px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}
.Add-Todo-Item button{
  width: 20%;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
    background-color: rgb(0, 216, 0);
    transition: 0.3s;
}
.Add-Todo-Item button:hover{
   background-color: rgba(0, 216, 0, 0.836);
}
.Todo-Items-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
.Todo-Item{
  width: 100%;
  display: flex;
  gap: 20px;
}
.Todo-Item input{
   width: 80%;
height: 50px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #ffffff;
  padding-inline: 10px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}
.Todo-Item .Edit-Delete-Btn{
    width: 20%;
height: 50px;
  border-radius: 4px;
}
.Edit-Delete-Btn{
  display: flex;
  
  gap: 5px;
}
.Edit-Delete-Btn button{
  width: 100%;
   border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
    transition: 0.3s;
      border-radius: 4px;
     
}
.Edit-Delete-Btn .Yellow-Clr{
background-color: yellow;

}
.Edit-Delete-Btn .Red-Clr{
background-color:rgb(250, 39, 39);
color: #ffffff;
}
.Edit-Delete-Btn .Yellow-Clr:hover{
  background-color: rgba(255, 255, 0, 0.918);
}
.Edit-Delete-Btn .Red-Clr:hover{
  background-color: rgb(255, 0, 0);
}

@media (max-width:550px) {
  .Todo-Container{
    padding: 10px;
  }
  .Add-Todo-Item{
    gap: 5px;
  }
.Add-Todo-Item input{
  width: 80%;
  border-radius: 4px;
  outline: none;
  border: 2px solid #ffffff;
  padding-inline: 10px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}
.Add-Todo-Item button{
font-size: 15px;
}
.Todo-Item{
  gap: 5px;
}
.Edit-Delete-Btn{
  flex-wrap: wrap;
}
.Edit-Delete-Btn button{
  width: 100%;
  font-size: 12px;
}
.Todo-Item input{
  height: 50px;
}
.Todo-Items-container{
  margin-top: 20px;
    gap: 15px;
}

}